/* .succes{
background-image: url("./delivery.jpg");
background-size: cover;
height: 100vh;
} */
.succes {
  background-image: linear-gradient(rgba(1, 4, 14, 0.5), rgba(3, 13, 23, 0.4)),
    url("./delivery.jpg");
  height: 100vh;
  background-size: cover;
}
.succes h2 {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  color: white;
}

@media (max-width: 425px) {
  .succes {
    background-image: linear-gradient(rgba(1, 4, 14, 0.5), rgba(3, 13, 23, 0.4)),
      url("./delivery.jpg");
    height: 100vh;
    background-size: cover;
    max-height: 90vh;
    margin-top: 3.1rem;
  }
  .succes h2 {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(11, 1, 49);
  }
}
