* {
  padding: 0;
  margin: 0;
}
.header {
  height: 10vh;
  background-color: rgb(167, 126, 205);
  float: right;
  width: 100%;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav h1 {
  padding-left: 3rem;
  font-size: 3rem;
  color: rgb(14, 0, 164);
  font-family: Arial, Helvetica, sans-serif;
}
p{
  display: none;
}
.header nav ul {
  float: right;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.header nav ul li {
  font-size: 1.5rem;
  color: white;
  margin: auto 3rem;
}

.header a {
  text-decoration: none;
}
i{
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-right: 3rem;
  color: white;
  position:absolute;
  transform:translateX(-100%);
}


@media (max-width: 425px) {
  .header nav ul {
    font-size: 1.5rem;
    color: white;
    margin: auto 3rem;
    display: flex;
    align-items: center;
  }
  .header nav ul {
    font-size: 1.5rem;
    color: white;
    margin: auto 3rem;
    display: none;
    align-items: center;
  }
  .header nav h1 {
    font-size: 1.9rem;
    color: rgb(200, 239, 4);
    font-family: Arial, Helvetica, sans-serif;
  }
  .header {
    height: 10vh;
    background-color: rgb(106, 89, 123);
    float: right;
    width: 100%;
    position: fixed;
    top: 0%;
  }
  .section{
    height: 100vh;
    background-color: blue;
    width: 50%;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in;
    transform: translateX(-100%);
  }
  .sectionMenu{
    height: 100vh;
    background-color: blue;
    width: 50%;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in;
    transform: translateX(0%);
  }
  p{
    display: block;
    font-size: 2rem;
    color: aliceblue;
  }
  a{
    text-decoration: none;
    list-style: none;
    color: aliceblue;
  }
  i{
    font-size: 2rem;
    margin-right: 3rem;
    color: white;
    margin-top: 1rem;
    transform:translateX(800%);
  }
}
